<a href="https://colab.research.google.com/github/davriffe/Finance-Week/blob/master/Test_SVR_Linear.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#Import libraries
import pandas as pd
import numpy as np
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt

In [4]:
from google.colab import files 
uploaded = files.upload() 
df = pd.read_csv('TSLA.csv')
df.head(7)

Saving TSLA.csv to TSLA (1).csv

         Date        Open        High  ...       Close   Adj Close   Volume
0  2014-01-02  149.800003  152.479996  ...  150.100006  150.100006  6188400
1  2014-01-03  150.000000  152.190002  ...  149.559998  149.559998  4695000
2  2014-01-06  150.000000  150.399994  ...  147.000000  147.000000  5361100
3  2014-01-07  147.619995  150.399994  ...  149.360001  149.360001  5034100
4  2014-01-08  148.850006  153.699997  ...  151.279999  151.279999  6163200
5  2014-01-09  152.500000  153.429993  ...  147.529999  147.529999  5382000
6  2014-01-10  148.460007  148.899994  ...  145.720001  145.720001  7446100

[7 rows x 7 columns]

In [0]:
dates = []
prices = []

In [7]:
df.shape

(1430, 7)

In [8]:
#Last row of data for testing
df.tail(1)

            Date        Open        High  ...       Close   Adj Close   Volume
1429  2019-09-06  227.199997  229.639999  ...  227.449997  227.449997  4182200

[1 rows x 7 columns]

In [10]:
#get the data exclude the last row
df = df.head(len(df)-1)
df

            Date        Open        High  ...       Close   Adj Close    Volume
0     2014-01-02  149.800003  152.479996  ...  150.100006  150.100006   6188400
1     2014-01-03  150.000000  152.190002  ...  149.559998  149.559998   4695000
2     2014-01-06  150.000000  150.399994  ...  147.000000  147.000000   5361100
3     2014-01-07  147.619995  150.399994  ...  149.360001  149.360001   5034100
4     2014-01-08  148.850006  153.699997  ...  151.279999  151.279999   6163200
5     2014-01-09  152.500000  153.429993  ...  147.529999  147.529999   5382000
6     2014-01-10  148.460007  148.899994  ...  145.720001  145.720001   7446100
7     2014-01-13  145.779999  147.000000  ...  139.339996  139.339996   6316100
8     2014-01-14  140.500000  162.000000  ...  161.270004  161.270004  27607000
9     2014-01-15  168.449997  172.229996  ...  164.130005  164.130005  20465600
10    2014-01-16  162.500000  172.699997  ...  170.970001  170.970001  11959400
11    2014-01-17  170.190002  173.199997  ...  170.009995  170.009995   9206200
12    2014-01-21  171.240005  177.289993  ...  176.679993  176.679993   9734700
13    2014-01-22  177.809998  180.320007  ...  178.559998  178.559998   7022600
14    2014-01-23  177.229996  182.380005  ...  181.500000  181.500000   7867400
15    2014-01-24  177.850006  180.479996  ...  174.600006  174.600006   7664300
16    2014-01-27  175.160004  177.919998  ...  169.619995  169.619995   8716400
17    2014-01-28  171.500000  178.979996  ...  178.380005  178.380005   6093400
18    2014-01-29  175.300003  179.089996  ...  175.229996  175.229996   5935500
19    2014-01-30  178.000000  184.779999  ...  182.839996  182.839996   8565000
20    2014-01-31  178.850006  186.000000  ...  181.410004  181.410004   6508800
21    2014-02-03  182.889999  184.880005  ...  177.110001  177.110001   6764900
22    2014-02-04  180.699997  181.600006  ...  178.729996  178.729996   4686300
23    2014-02-05  178.300003  180.589996  ...  174.419998  174.419998   7268000
24    2014-02-06  176.300003  180.110001  ...  178.380005  178.380005   5841600
25    2014-02-07  181.009995  186.630005  ...  186.529999  186.529999   8928500
26    2014-02-10  189.339996  199.300003  ...  196.559998  196.559998  12970700
27    2014-02-11  198.970001  202.199997  ...  196.619995  196.619995  10709900
28    2014-02-12  195.779999  198.270004  ...  195.320007  195.320007   5173700
29    2014-02-13  193.339996  202.720001  ...  199.630005  199.630005   8029300
...          ...         ...         ...  ...         ...         ...       ...
1398  2019-07-24  259.170013  266.070007  ...  264.880005  264.880005  11072800
1399  2019-07-25  233.500000  234.500000  ...  228.820007  228.820007  22418300
1400  2019-07-26  226.919998  230.259995  ...  228.039993  228.039993  10027700
1401  2019-07-29  227.089996  235.940002  ...  235.770004  235.770004   9273300
1402  2019-07-30  232.899994  243.360001  ...  242.259995  242.259995   8109000
1403  2019-07-31  243.000000  246.679993  ...  241.610001  241.610001   9178200
1404  2019-08-01  242.649994  244.509995  ...  233.850006  233.850006   8259500
1405  2019-08-02  231.350006  236.270004  ...  234.339996  234.339996   6136500
1406  2019-08-05  229.600006  231.369995  ...  228.320007  228.320007   7028300
1407  2019-08-06  231.880005  232.500000  ...  230.750000  230.750000   5564200
1408  2019-08-07  226.500000  233.570007  ...  233.419998  233.419998   4776500
1409  2019-08-08  234.449997  239.800003  ...  238.300003  238.300003   5274300
1410  2019-08-09  236.050003  238.960007  ...  235.009995  235.009995   3898200
1411  2019-08-12  232.990005  235.770004  ...  229.009995  229.009995   4663900
1412  2019-08-13  228.809998  236.000000  ...  235.000000  235.000000   4848100
1413  2019-08-14  231.210007  231.500000  ...  219.619995  219.619995   9562600
1414  2019-08-15  220.860001  221.559998  ...  215.639999  215.639999   8159600
1415  2019-08-16  216.660004  222.240005  ...  219.940002  219.940002   5098500
1416  2019-08-19  224.210007  227.830002  ...  226.830002  226.830002   5309600
1417  2019-08-20  227.619995  229.089996  ...  225.860001  225.860001   4125200
1418  2019-08-21  222.009995  223.220001  ...  220.830002  220.830002   7794300
1419  2019-08-22  222.800003  225.399994  ...  222.149994  222.149994   6559000
1420  2019-08-23  219.970001  221.169998  ...  211.399994  211.399994   8538600
1421  2019-08-26  213.600006  215.020004  ...  215.000000  215.000000   5051900
1422  2019-08-27  215.740005  218.800003  ...  214.080002  214.080002   5416200
1423  2019-08-28  213.690002  217.250000  ...  215.589996  215.589996   3225500
1424  2019-08-29  219.000000  223.399994  ...  221.710007  221.710007   5179500
1425  2019-08-30  229.149994  232.440002  ...  225.610001  225.610001   9320600
1426  2019-09-03  224.080002  228.949997  ...  225.009995  225.009995   5354100
1427  2019-09-04  226.889999  228.460007  ...  220.679993  220.679993   5761000

[1428 rows x 7 columns]

In [11]:
#new shape of data
df.shape

(1428, 7)

In [0]:
#Get all of the rows from the Date Column
df_dates = df.loc[:, 'Date']
#Get all of the rows from the Open Column
df_open = df.loc[:, 'Open']

In [0]:
#Create the independent data set X
for date in df_dates:
  dates.append( [int(date.split('-')[2])])
  
#Create the dependent data se 'y'
for open_price in df_open:
  prices.append(float(open_price))

In [18]:
print(dates)

[[2], [3], [6], [7], [8], [9], [10], [13], [14], [15], [16], [17], [21], [22], [23], [24], [27], [28], [29], [30], [31], [3], [4], [5], [6], [7], [10], [11], [12], [13], [14], [18], [19], [20], [21], [24], [25], [26], [27], [28], [3], [4], [5], [6], [7], [10], [11], [12], [13], [14], [17], [18], [19], [20], [21], [24], [25], [26], [27], [28], [31], [1], [2], [3], [4], [7], [8], [9], [10], [11], [14], [15], [16], [17], [21], [22], [23], [24], [25], [28], [29], [30], [1], [2], [5], [6], [7], [8], [9], [12], [13], [14], [15], [16], [19], [20], [21], [22], [23], [27], [28], [29], [30], [2], [3], [4], [5], [6], [9], [10], [11], [12], [13], [16], [17], [18], [19], [20], [23], [24], [25], [26], [27], [30], [1], [2], [3], [7], [8], [9], [10], [11], [14], [15], [16], [17], [18], [21], [22], [23], [24], [25], [28], [29], [30], [31], [1], [4], [5], [6], [7], [8], [11], [12], [13], [14], [15], [18], [19], [20], [21], [22], [25], [26], [27], [28], [29], [2], [3], [4], [5], [8], [9], [10], [11], [12], [15], [16], [17], [18], [19], [22], [23], [24], [25], [26], [29], [30], [1], [2], [3], [6], [7], [8], [9], [10], [13], [14], [15], [16], [17], [20], [21], [22], [23], [24], [27], [28], [29], [30], [31], [3], [4], [5], [6], [7], [10], [11], [12], [13], [14], [17], [18], [19], [20], [21], [24], [25], [26], [28], [1], [2], [3], [4], [5], [8], [9], [10], [11], [12], [15], [16], [17], [18], [19], [22], [23], [24], [26], [29], [30], [31], [2], [5], [6], [7], [8], [9], [12], [13], [14], [15], [16], [20], [21], [22], [23], [26], [27], [28], [29], [30], [2], [3], [4], [5], [6], [9], [10], [11], [12], [13], [17], [18], [19], [20], [23], [24], [25], [26], [27], [2], [3], [4], [5], [6], [9], [10], [11], [12], [13], [16], [17], [18], [19], [20], [23], [24], [25], [26], [27], [30], [31], [1], [2], [6], [7], [8], [9], [10], [13], [14], [15], [16], [17], [20], [21], [22], [23], [24], [27], [28], [29], [30], [1], [4], [5], [6], [7], [8], [11], [12], [13], [14], [15], [18], [19], [20], [21], [22], [26], [27], [28], [29], [1], [2], [3], [4], [5], [8], [9], [10], [11], [12], [15], [16], [17], [18], [19], [22], [23], [24], [25], [26], [29], [30], [1], [2], [6], [7], [8], [9], [10], [13], [14], [15], [16], [17], [20], [21], [22], [23], [24], [27], [28], [29], [30], [31], [3], [4], [5], [6], [7], [10], [11], [12], [13], [14], [17], [18], [19], [20], [21], [24], [25], [26], [27], [28], [31], [1], [2], [3], [4], [8], [9], [10], [11], [14], [15], [16], [17], [18], [21], [22], [23], [24], [25], [28], [29], [30], [1], [2], [5], [6], [7], [8], [9], [12], [13], [14], [15], [16], [19], [20], [21], [22], [23], [26], [27], [28], [29], [30], [2], [3], [4], [5], [6], [9], [10], [11], [12], [13], [16], [17], [18], [19], [20], [23], [24], [25], [27], [30], [1], [2], [3], [4], [7], [8], [9], [10], [11], [14], [15], [16], [17], [18], [21], [22], [23], [24], [28], [29], [30], [31], [4], [5], [6], [7], [8], [11], [12], [13], [14], [15], [19], [20], [21], [22], [25], [26], [27], [28], [29], [1], [2], [3], [4], [5], [8], [9], [10], [11], [12], [16], [17], [18], [19], [22], [23], [24], [25], [26], [29], [1], [2], [3], [4], [7], [8], [9], [10], [11], [14], [15], [16], [17], [18], [21], [22], [23], [24], [28], [29], [30], [31], [1], [4], [5], [6], [7], [8], [11], [12], [13], [14], [15], [18], [19], [20], [21], [22], [25], [26], [27], [28], [29], [2], [3], [4], [5], [6], [9], [10], [11], [12], [13], [16], [17], [18], [19], [20], [23], [24], [25], [26], [27], [31], [1], [2], [3], [6], [7], [8], [9], [10], [13], [14], [15], [16], [17], [20], [21], [22], [23], [24], [27], [28], [29], [30], [1], [5], [6], [7], [8], [11], [12], [13], [14], [15], [18], [19], [20], [21], [22], [25], [26], [27], [28], [29], [1], [2], [3], [4], [5], [8], [9], [10], [11], [12], [15], [16], [17], [18], [19], [22], [23], [24], [25], [26], [29], [30], [31], [1], [2], [6], [7], [8], [9], [12], [13], [14], [15], [16], [19], [20], [21], [22], [23], [26], [27], [28], [29], [30], [3], [4], [5], [6], [7], [10], [11], [12], [13], [14], [17], [18], [19], [20], [21], [24], [25], [26], [27], [28], [31], [1], [2], [3], [4], [7], [8], [9], [10], [11], [14], [15], [16], [17], [18], [21], [22], [23], [25], [28], [29], [30], [1], [2], [5], [6], [7], [8], [9], [12], [13], [14], [15], [16], [19], [20], [21], [22], [23], [27], [28], [29], [30], [3], [4], [5], [6], [9], [10], [11], [12], [13], [17], [18], [19], [20], [23], [24], [25], [26], [27], [30], [31], [1], [2], [3], [6], [7], [8], [9], [10], [13], [14], [15], [16], [17], [21], [22], [23], [24], [27], [28], [1], [2], [3], [6], [7], [8], [9], [10], [13], [14], [15], [16], [17], [20], [21], [22], [23], [24], [27], [28], [29], [30], [31], [3], [4], [5], [6], [7], [10], [11], [12], [13], [17], [18], [19], [20], [21], [24], [25], [26], [27], [28], [1], [2], [3], [4], [5], [8], [9], [10], [11], [12], [15], [16], [17], [18], [19], [22], [23], [24], [25], [26], [30], [31], [1], [2], [5], [6], [7], [8], [9], [12], [13], [14], [15], [16], [19], [20], [21], [22], [23], [26], [27], [28], [29], [30], [3], [5], [6], [7], [10], [11], [12], [13], [14], [17], [18], [19], [20], [21], [24], [25], [26], [27], [28], [31], [1], [2], [3], [4], [7], [8], [9], [10], [11], [14], [15], [16], [17], [18], [21], [22], [23], [24], [25], [28], [29], [30], [31], [1], [5], [6], [7], [8], [11], [12], [13], [14], [15], [18], [19], [20], [21], [22], [25], [26], [27], [28], [29], [2], [3], [4], [5], [6], [9], [10], [11], [12], [13], [16], [17], [18], [19], [20], [23], [24], [25], [26], [27], [30], [31], [1], [2], [3], [6], [7], [8], [9], [10], [13], [14], [15], [16], [17], [20], [21], [22], [24], [27], [28], [29], [30], [1], [4], [5], [6], [7], [8], [11], [12], [13], [14], [15], [18], [19], [20], [21], [22], [26], [27], [28], [29], [2], [3], [4], [5], [8], [9], [10], [11], [12], [16], [17], [18], [19], [22], [23], [24], [25], [26], [29], [30], [31], [1], [2], [5], [6], [7], [8], [9], [12], [13], [14], [15], [16], [20], [21], [22], [23], [26], [27], [28], [1], [2], [5], [6], [7], [8], [9], [12], [13], [14], [15], [16], [19], [20], [21], [22], [23], [26], [27], [28], [29], [2], [3], [4], [5], [6], [9], [10], [11], [12], [13], [16], [17], [18], [19], [20], [23], [24], [25], [26], [27], [30], [1], [2], [3], [4], [7], [8], [9], [10], [11], [14], [15], [16], [17], [18], [21], [22], [23], [24], [25], [29], [30], [31], [1], [4], [5], [6], [7], [8], [11], [12], [13], [14], [15], [18], [19], [20], [21], [22], [25], [26], [27], [28], [29], [2], [3], [5], [6], [9], [10], [11], [12], [13], [16], [17], [18], [19], [20], [23], [24], [25], [26], [27], [30], [31], [1], [2], [3], [6], [7], [8], [9], [10], [13], [14], [15], [16], [17], [20], [21], [22], [23], [24], [27], [28], [29], [30], [31], [4], [5], [6], [7], [10], [11], [12], [13], [14], [17], [18], [19], [20], [21], [24], [25], [26], [27], [28], [1], [2], [3], [4], [5], [8], [9], [10], [11], [12], [15], [16], [17], [18], [19], [22], [23], [24], [25], [26], [29], [30], [31], [1], [2], [5], [6], [7], [8], [9], [12], [13], [14], [15], [16], [19], [20], [21], [23], [26], [27], [28], [29], [30], [3], [4], [6], [7], [10], [11], [12], [13], [14], [17], [18], [19], [20], [21], [24], [26], [27], [28], [31], [2], [3], [4], [7], [8], [9], [10], [11], [14], [15], [16], [17], [18], [22], [23], [24], [25], [28], [29], [30], [31], [1], [4], [5], [6], [7], [8], [11], [12], [13], [14], [15], [19], [20], [21], [22], [25], [26], [27], [28], [1], [4], [5], [6], [7], [8], [11], [12], [13], [14], [15], [18], [19], [20], [21], [22], [25], [26], [27], [28], [29], [1], [2], [3], [4], [5], [8], [9], [10], [11], [12], [15], [16], [17], [18], [22], [23], [24], [25], [26], [29], [30], [1], [2], [3], [6], [7], [8], [9], [10], [13], [14], [15], [16], [17], [20], [21], [22], [23], [24], [28], [29], [30], [31], [3], [4], [5], [6], [7], [10], [11], [12], [13], [14], [17], [18], [19], [20], [21], [24], [25], [26], [27], [28], [1], [2], [3], [5], [8], [9], [10], [11], [12], [15], [16], [17], [18], [19], [22], [23], [24], [25], [26], [29], [30], [31], [1], [2], [5], [6], [7], [8], [9], [12], [13], [14], [15], [16], [19], [20], [21], [22], [23], [26], [27], [28], [29], [30], [3], [4]]

In [0]:
def predict_prices(dates, prices, x):
  
  #Create the 3 Support Vector Regression models
  svr_lin = SVR(kernel='linear', C= 1e3)
  svr_poly= SVR(kernel='poly', C=1e3, degree=2)
  svr_rbf = SVR(kernel='rbf', C=1e3, gamma=0.1)
  
  #Train the SVR models 
  svr_lin.fit(dates,prices)
  svr_poly.fit(dates,prices)
  svr_rbf.fit(dates,prices)
  
  #Create the Linear Regression model
  lin_reg = LinearRegression()
  #Train the Linear Regression model
  lin_reg.fit(dates,prices)
  
  #Plot the models on a graph to see which has the best fit
  plt.scatter(dates, prices, color='black', label='Data')
  plt.plot(dates, svr_rbf.predict(dates), color='red', label='SVR RBF')
  plt.plot(dates, svr_poly.predict(dates), color='blue', label='SVR Poly')
  plt.plot(dates, svr_lin.predict(dates), color='green', label='SVR Linear')
  plt.plot(dates, lin_reg.predict(dates), color='orange', label='Linear Reg')
  plt.xlabel('Days')
  plt.ylabel('Price')
  plt.title('Regression')
  plt.legend()
  plt.show()
  
  return svr_rbf.predict(x)[0], svr_lin.predict(x)[0],svr_poly.predict(x)[0],lin_reg.predict(x)[0]

In [0]:
predicted_price = predict_prices(dates, prices, [[1426]])
print(predicted_price)

/usr/local/lib/python3.6/dist-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)