<a href="https://colab.research.google.com/github/davriffe/Finance-Week/blob/master/Turtle_Stock.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [14]:
!pip install yfinance --upgrade --no-cache-dir

Requirement already up-to-date: yfinance in /usr/local/lib/python3.6/dist-packages (0.1.45)
Requirement already satisfied, skipping upgrade: multitasking>=0.0.7 in /usr/local/lib/python3.6/dist-packages (from yfinance) (0.0.9)
Requirement already satisfied, skipping upgrade: requests>=2.20 in /usr/local/lib/python3.6/dist-packages (from yfinance) (2.21.0)
Requirement already satisfied, skipping upgrade: numpy>=1.15 in /usr/local/lib/python3.6/dist-packages (from yfinance) (1.16.5)
Requirement already satisfied, skipping upgrade: pandas>=0.24 in /usr/local/lib/python3.6/dist-packages (from yfinance) (0.24.2)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (2019.6.16)
Requirement already satisfied, skipping upgrade: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (2.8)
Requirement already satisfied, skipping upgrade: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied, skipping upgrade: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied, skipping upgrade: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24->yfinance) (2.5.3)
Requirement already satisfied, skipping upgrade: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.5.0->pandas>=0.24->yfinance) (1.12.0)

In [15]:
import numpy as np
from google.colab import drive
drive.mount('/content/drive',force_remount=True)

Mounted at /content/drive

In [18]:
import pandas_datareader as pdr
import fix_yahoo_finance as yf

yf.pdr_override()
dataframe = pdr.get_data_yahoo('JPM', start="2018-01-01").reset_index()
dataframe.to_csv('JPM.csv', index=False)
dataframe.head()

        Date        High         Low  ...       Close      Volume   Adj Close
0 2018-01-02  108.019997  106.809998  ...  107.949997  13578800.0  103.156837
1 2018-01-03  108.489998  107.480003  ...  108.059998  11901000.0  103.261963
2 2018-01-04  110.029999  108.199997  ...  109.040001  12953700.0  104.741249
3 2018-01-05  109.550003  107.779999  ...  108.339996  14155000.0  104.068840
4 2018-01-08  108.680000  107.699997  ...  108.500000  12466500.0  104.222534

[5 rows x 7 columns]

In [21]:
df= df_full.copy()
name = 'Turtle Trading Agent'
count = int(np.ceil(len(df) * 0.1))
signals = pd.DataFrame(index=df.index)
signals['signal'] = 0.0
signals['trend'] = df['Close']
signals['RollingMax'] = (signals.trend.shift(1).rolling(count).max())
signals['RollingMin'] = (signals.trend.shift(1).rolling(count).min())
signals.loc[signals['RollingMax'] < signals.trend, 'signal'] = -1
signals.loc[signals['RollingMin'] > signals.trend, 'signal'] = 1
signals

     signal       trend  RollingMax  RollingMin
0       0.0  107.949997         NaN         NaN
1       0.0  108.059998         NaN         NaN
2       0.0  109.040001         NaN         NaN
3       0.0  108.339996         NaN         NaN
4       0.0  108.500000         NaN         NaN
5       0.0  109.050003         NaN         NaN
6       0.0  110.250000         NaN         NaN
7       0.0  110.839996         NaN         NaN
8       0.0  112.669998         NaN         NaN
9       0.0  112.269997         NaN         NaN
10      0.0  112.989998         NaN         NaN
11      0.0  113.260002         NaN         NaN
12      0.0  113.010002         NaN         NaN
13      0.0  114.330002         NaN         NaN
14      0.0  114.209999         NaN         NaN
15      0.0  115.669998         NaN         NaN
16      0.0  115.699997         NaN         NaN
17      0.0  116.320000         NaN         NaN
18      0.0  116.199997         NaN         NaN
19      0.0  115.110001         NaN         NaN
20      0.0  115.669998         NaN         NaN
21      0.0  116.870003         NaN         NaN
22      0.0  114.279999         NaN         NaN
23      0.0  108.800003         NaN         NaN
24      0.0  112.110001         NaN         NaN
25      0.0  112.870003         NaN         NaN
26      0.0  107.879997         NaN         NaN
27      0.0  110.040001         NaN         NaN
28      0.0  111.739998         NaN         NaN
29      0.0  112.430000         NaN         NaN
..      ...         ...         ...         ...
393     0.0  116.220001  116.830002  105.959999
394     0.0  115.849998  116.830002  105.959999
395     0.0  115.589996  116.830002  105.959999
396     0.0  116.000000  116.830002  105.959999
397     0.0  112.940002  116.830002  105.959999
398     0.0  112.930000  116.830002  106.459999
399     0.0  109.570000  116.830002  107.760002
400     0.0  110.430000  116.830002  107.760002
401     0.0  108.029999  116.830002  107.760002
402     0.0  109.860001  116.830002  107.760002
403     0.0  109.739998  116.830002  107.760002
404     1.0  107.680000  116.830002  107.760002
405     0.0  109.339996  116.830002  107.680000
406     1.0  104.800003  116.830002  107.680000
407     0.0  105.199997  116.830002  104.800003
408     0.0  107.720001  116.830002  104.800003
409     0.0  108.690002  116.830002  104.800003
410     0.0  107.309998  116.830002  104.800003
411     0.0  107.610001  116.830002  104.800003
412     0.0  108.720001  116.830002  104.800003
413     0.0  106.019997  116.830002  104.800003
414     0.0  106.870003  116.830002  104.800003
415     0.0  105.739998  116.830002  104.800003
416     0.0  106.800003  116.830002  104.800003
417     0.0  109.220001  116.830002  104.800003
418     0.0  109.860001  116.830002  104.800003
419     0.0  108.559998  116.830002  104.800003
420     0.0  109.870003  116.830002  104.800003
421     0.0  112.370003  116.830002  104.800003
422     0.0  112.610001  116.830002  104.800003

[423 rows x 4 columns]